@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Servisler Listesi Tablosu</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Servis Başlığı</th>
                <th scope="col" class="sort" data-sort="status">İcon Görseli Yolu</th>
                <th scope="col" class="sort" data-sort="status">Sil</th>
                <th scope="col" class="sort" data-sort="status">Güncelle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in Model)
            {
            <tr>
                <th>
                    <h4>@item.ServiceId</h4>
                </th>
                <td class="budget">
                    <span class="name mb-0 text-sm">@item.Title</span>
                </td>
                <td class="budget">
                    <span class="name mb-0 text-sm">@item.ImageUrl</span>
                </td>

                <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-outline-danger" onclick="return confirm('Servis bilginizi silmeyi onaylıyor musunuz ?');">Sil</a></td>
                <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-outline-info">Güncelle</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
<br />
<a href="/Service/AddService" class="btn btn-primary">Yeni Hizmet Ekle</a>


